# Gradle and build outputs
.gradle/
**/build/
.kotlin/

# IDE/Editor
.idea/
*.iml
.vscode/
out/
react/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/

# OS
.DS_Store
Thumbs.db

# Env files
.env
*.env

# Sensitive config files
local.properties
backend/src/main/resources/config.json
backend/src/main/resources/application.conf
src/*

# Keystores / certificates (sensitive)
backend/src/main/resources/*.p12
backend/src/main/resources/*.jks
backend/src/main/resources/*.pfx
backend/src/main/resources/*.keystore
backend/src/main/resources/*.pem
backend/src/main/resources/*.crt
backend/src/main/resources/*.cer
backend/src/main/resources/*.der

# Node / JS (just in case)
node_modules/
**/.parcel-cache/

# react
# dependencies
react-web/MadProjects-web/node_modules
react-web/MadProjects-web/.pnp
react-web/MadProjects-web.pnp.js


# testing
react-web/MadProjects-web/coverage

# production
react-web/MadProjects-web/build
react-web/MadProjects-web/nginx.conf
react-web/MadProjects-web/nginx.conf.template

# misc
react-web/MadProjects-web/.DS_Store
react-web/MadProjects-web/.env.local
react-web/MadProjects-web/.env.development.local
react-web/MadProjects-web/.env.test.local
react-web/MadProjects-web/.env.production.local

react-web/MadProjects-web/npm-debug.log*
react-web/MadProjects-web/yarn-debug.log*
react-web/MadProjects-web/yarn-error.log*